In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [85]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
539,tt0263488,10000000,59217789,Jeepers Creepers,Gina Philips|Justin Long|Jonathan Breck|Patricia Belcher|Eileen Brennan,Victor Salva,Whatâ€™s eating you?,A college-age brother and sister get more than they bargained for on their road trip home from spring break. When the bickering siblings witness a creepy truck driver tossing body bags into a sewe...,90,Horror|Thriller,United Artists|American Zoetrope|Cinerenta Medienbeteiligungs KG|Cinerenta-Cinebeta|VCL Communications,7/1/2001,6.0,2001
1259,tt1814621,13000000,18000000,Admission,Tina Fey|Paul Rudd|Ann Harada|Ben Levin|Dan Levy,Paul Weitz,Let someone in.,"Strait-laced Princeton University admissions officer Portia Nathan is caught off-guard when she makes a recruiting visit to an alternative high school overseen by her former college classmate, the...",107,Comedy|Drama|Romance,Focus Features,3/21/2013,5.4,2013
39,tt1618442,90000000,140396650,The Last Witch Hunter,Vin Diesel|Rose Leslie|Michael Caine|Elijah Wood|Ã“lafur Darri Ã“lafsson,Breck Eisner,Hunt forever.,"The modern world holds many secrets, but by far the most astounding is that witches still live among us; vicious supernatural creatures intent on unleashing the Black Death upon the world and putt...",106,Fantasy|Action|Adventure,Summit Entertainment|Atmosphere Entertainment MM|One Race Films|Goldmann Pictures|NeoReel,10/21/2015,5.6,2015
745,tt0983193,130000000,371940071,The Adventures of Tintin,Jamie Bell|Andy Serkis|Daniel Craig|Nick Frost|Simon Pegg,Steven Spielberg,"This year, discover how far adventure will take you.","Intrepid young reporter, Tintin and his loyal dog, Snowy are thrust into a world of high adventure when they discover a ship carrying an explosive secret. As Tintin is drawn into a centuries-old m...",107,Adventure|Animation|Action|Family|Mystery,Paramount Pictures|Columbia Pictures|WingNut Films|Amblin Entertainment|Nickelodeon Movies,10/25/2011,6.6,2011
25,tt2381249,150000000,682330139,Mission: Impossible - Rogue Nation,Tom Cruise|Jeremy Renner|Simon Pegg|Rebecca Ferguson|Ving Rhames,Christopher McQuarrie,Desperate Times. Desperate Measures.,"Ethan and team take on their most impossible mission yet, eradicating the Syndicate - an International rogue organization as highly skilled as they are, committed to destroying the IMF.",131,Action,Paramount Pictures|Skydance Productions|China Movie Channel|Bad Robot|TC Productions,7/23/2015,7.1,2015

In [0]:
data.describe()

# Предобработка

In [0]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [36]:
# тут пишем ваш код для решения данного вопроса:
max_budget = data[(data['imdb_id'] == 'tt1345836') | (data['imdb_id'] == 'tt0413300') | (data['imdb_id'] == 'tt2395427')
    | (data['imdb_id'] == 'tt1032751') | (data['imdb_id'] == 'tt1298650')].budget.max()
data[data['budget'] == max_budget][['original_title', 'imdb_id']]

                                  original_title    imdb_id
723  Pirates of the Caribbean: On Stranger Tides  tt1298650

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [41]:
data[['runtime', 'original_title']].sort_values('runtime', ascending = False)

      runtime                                 original_title
1157      214                              Gods and Generals
1081      201  The Lord of the Rings: The Return of the King
1736      191                                     Grindhouse
1336      187                                      King Kong
504       183                                   Pearl Harbor
...       ...                                            ...
1408       76                                        Valiant
1626       76                              Home on the Range
1097       72                              The Jungle Book 2
930        72                           Return to Never Land
768        63                                Winnie the Pooh

[1889 rows x 2 columns]

# 3. Какой из фильмов самый короткий (в минутах)?

In [0]:
data[['runtime', 'original_title']].sort_values('runtime', ascending = False)

# 4. Какова средняя длительность фильмов?

In [43]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [44]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [0]:
# лучше код получения столбца profit вынести в Предобработку что в начале

# 7. Какой фильм самый убыточный?

In [63]:
data['Profit'] = data['revenue'] - data['budget']
data[data['release_year'] == 2008].sort_values('Profit', ascending = False)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,Profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825
603,tt0367882,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,Harrison Ford|Cate Blanchett|Shia LaBeouf|Ray ...,Steven Spielberg,The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,Adventure|Action,Lucasfilm|Paramount Pictures,5/21/2008,5.6,2008,601636033
607,tt0795421,52000000,609841637,Mamma Mia!,Meryl Streep|Pierce Brosnan|Amanda Seyfried|Co...,Phyllida Lloyd,Take a trip down the aisle you'll never forget,"Set on an idyllic Greek island, the plot serve...",108,Comedy|Romance,Universal Pictures|Internationale Filmprodukti...,6/30/2008,6.2,2008,557841637
606,tt0441773,130000000,631744560,Kung Fu Panda,Jack Black|Dustin Hoffman|Angelina Jolie|Jacki...,Mark Osborne|John Stevenson,Prepare for awesomeness.,"When the Valley of Peace is threatened, lazy P...",90,Animation|Family,DreamWorks Animation,6/4/2008,6.8,2008,501744560
621,tt0448157,150000000,624029371,Hancock,Will Smith|Charlize Theron|Jason Bateman|Jae H...,Peter Berg,Bad Behavior. Bad Attitude. Real Hero.,Hancock is a down-and-out superhero who's forc...,92,Fantasy|Action,Columbia Pictures|Weed Road Pictures|Forward P...,7/1/2008,6.0,2008,474029371
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
668,tt0811080,120000000,93945766,Speed Racer,Emile Hirsch|Christina Ricci|Matthew Fox|Susan...,Lana Wachowski|Lilly Wachowski,Go!,Speed Racer is the tale of a young and brillia...,135,Family|Action|Science Fiction,Village Roadshow Pictures|Studio Babelsberg|An...,5/9/2008,5.6,2008,-26054234
705,tt0469903,40000000,9793496,The Express,Rob Brown|Dennis Quaid|Darrin Henson|Charles S...,Gary Fleder,He changed our country... one yard at a time.,"Based on the incredible true story, The Expres...",130,Drama,Davis Entertainment|Relativity Media|IDEA Film...,10/10/2008,7.1,2008,-30206504
682,tt0970411,55000000,17869048,City of Ember,Saoirse Ronan|Harry Treadaway|Mary Kay Place|B...,Gil Kenan,Escape is the only option,"For generations, the people of the City of Emb...",90,Adventure|Family|Fantasy,Playtone|Walden Media,10/7/2008,6.1,2008,-37130952
679,tt0462465,50000000,7033683,Outlander,Jim Caviezel|Sophia Myles|Jack Huston|Ron Perl...,Howard McCain,It destroyed his world. He won't let it destro...,"During the reign of the Vikings, a man from an...",115,Fantasy|Action|Science Fiction,Ascendant Pictures|Rising Star|VIP Medienfonds...,4/24/2008,6.0,2008,-42966317
636,tt0455824,130000000,49554002,Australia,Nicole Kidman|Hugh Jackman|Essie Davis|David W...,Baz Luhrmann,Welcome to Australia!,"Set in northern Australia before World War II,...",165,Drama,Bazmark Films|Ingenious Film Partners|Twentiet...,11/18/2008,6.3,2008,-80445998

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

# 9. Какой фильм оказался самым кассовым в 2008 году?

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [75]:
ans = data.query('2012 <= release_year <= 2014')
ans.sort_values('Profit').head(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,Profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090
1214,tt0790736,130000000,61648500,R.I.P.D.,Jeff Bridges|Ryan Reynolds|Kevin Bacon|Stephan...,Robert Schwentke,To protect and serve the living,A recently slain cop joins a team of undead po...,96,Fantasy|Action|Comedy|Crime,Universal Pictures|Original Film|Dark Horse En...,7/18/2013,5.3,2013,-68351500
1007,tt1374992,60000000,8106475,Upside Down,Kirsten Dunst|Jim Sturgess|Timothy Spall|James...,Juan Diego Solanas,Two worlds. One future.,In an alternate universe where twinned worlds ...,104,Romance|Science Fiction|Drama|Fantasy,Onyx Films|Studio 37|Jouror Productions|France...,9/27/2012,6.1,2012,-51893525
1302,tt0884726,70000000,18662027,Legends of Oz: Dorothy's Return,Lea Michele|Dan Aykroyd|Patrick Stewart|Hugh D...,Dan St. Pierre,There's trouble in OZ...,"Dorothy wakes up in post-tornado Kansas, only ...",88,Animation|Music|Family,Prana Animation Studios|Summertime Entertainment,6/13/2013,6.1,2013,-51337973
1235,tt1308729,55000000,9489829,Bullet to the Head,Sylvester Stallone|Sung Kang|Sarah Shahi|Adewa...,Walter Hill,Revenge Never Gets Old.,"After watching their respective partners die, ...",92,Action|Crime|Thriller,Dark Castle Entertainment|After Dark Films|IM ...,1/31/2013,5.2,2013,-45510171

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

In [186]:
ans = pd.DataFrame(data.genres)
ans2 = pd.DataFrame()
ans['1'] = ans['genres'].str.split('|').str.get(0)
ans['2'] = ans['genres'].str.split('|').str.get(1)
ans['3'] = ans['genres'].str.split('|').str.get(2)
ans['4'] = ans['genres'].str.split('|').str.get(3)
ans['5'] = ans['genres'].str.split('|').str.get(4)
ans['6'] = ans['genres'].str.split('|').str.get(5)
ans['7'] = ans['genres'].str.split('|').str.get(6)

ans2 = pd.concat([ans2,ans['genres'].str.split('|').str.get(0)], axis = 0)
ans2 = pd.concat([ans2,ans['genres'].str.split('|').str.get(1)], axis = 0)
ans2 = pd.concat([ans2,ans['genres'].str.split('|').str.get(2)], axis = 0)
ans2 = pd.concat([ans2,ans['genres'].str.split('|').str.get(3)], axis = 0)
ans2 = pd.concat([ans2,ans['genres'].str.split('|').str.get(4)], axis = 0)
ans2 = pd.concat([ans2,ans['genres'].str.split('|').str.get(5)], axis = 0)
ans2 = pd.concat([ans2,ans['genres'].str.split('|').str.get(6)], axis = 0)
ans2.value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [200]:
ans12 = data.query('Profit >0').genres
ans12
b= []
for i in ans12:
    b +=(str(i).split('|'))
df = pd.DataFrame({'gen': b})
df.gen.value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: gen, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [205]:
pivot = data.pivot_table(values = ['revenue'],
                        index = ['director'],
                        aggfunc = 'sum')
pivot.revenue.sort_values(ascending = False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [230]:
ans14 = data[data.genres.str.contains('Action')]
ans14.director.value_counts(ascending = False)

Paul W.S. Anderson    7
Michael Bay           7
Robert Rodriguez      6
Antoine Fuqua         6
Ridley Scott          6
                     ..
George Miller         1
Peter Segal           1
Mathieu Kassovitz     1
Rob Minkoff           1
Des McAnuff           1
Name: director, Length: 345, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [262]:
pd.set_option('display.max_colwidth', None)
new = data.query('release_year == 2012')
new[['original_title', 'cast', 'revenue']].sort_values('revenue', ascending = False)

,original_title,cast,revenue
970,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chris Hemsworth|Scarlett Johansson,1519557910
974,Skyfall,Daniel Craig|Judi Dench|Javier Bardem|Ralph Fiennes|Naomie Harris,1108561013
972,The Dark Knight Rises,Christian Bale|Michael Caine|Gary Oldman|Anne Hathaway|Tom Hardy,1081041287
976,The Hobbit: An Unexpected Journey,Ian McKellen|Martin Freeman|Richard Armitage|Andy Serkis|Cate Blanchett,1017003568
984,Ice Age: Continental Drift,John Leguizamo|Ray Romano|Chris Wedge|Denis Leary|Seann William Scott,877244782
...,...,...,...
1007,Upside Down,Kirsten Dunst|Jim Sturgess|Timothy Spall|James Kidnie|Heidi Hawkins,8106475
1077,Cosmopolis,Robert Pattinson|Sarah Gadon|Juliette Binoche|Paul Giamatti|Samantha Morton,6063556
1075,Fire with Fire,Bruce Willis|Josh Duhamel|Rosario Dawson|Vincent D'Onofrio|50 Cent,4636169
1048,Disconnect,Jason Bateman|Hope Davis|Frank Grillo|Paula Patton|Michael Nyqvist,3428048
1033,Stolen,Nicolas Cage|Malin Ã…kerman|Josh Lucas|Sami Gayle|Danny Huston,2106557

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [294]:

data.budget.mean()
ans = data[data['budget'] > data.budget.mean()].cast
b = []
for i in ans:
    b += (str(i).split('|'))
pd.Series(b).value_counts().head(1)

Matt Damon    18
dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [297]:

ans = data[data.cast.str.contains('Nicolas Cage')]
ans
b = []
for i in ans.genres:
    b += (str(i).split('|'))
pd.Series(b).value_counts().head(1)

Action    17
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [309]:
data.query('production_companies == "Paramount Pictures"').sort_values('Profit')
data[data.production_companies.str.contains('Paramount Pictures')].sort_values('Profit')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,Profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss Ackland|John Shrapnel,Kathryn Bigelow,Fate has found its hero.,"When Russia's first nuclear submarine malfunctions on its maiden voyage, the crew must race to save the ship and prevent a nuclear disaster.",138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National Geographic Society|New Regency Pictures|Palomar Pictures (II),7/19/2002,6.0,2002,-64831034
1123,tt0300556,80000000,19480739,Timeline,Paul Walker|Frances O'Connor|Gerard Butler|Billy Connolly|David Thewlis,Richard Donner,They had to travel into the past to save the future,A group of archaeological students become trapped in the past when they go there to retrieve their professor. The group must survive in 14th century France long enough to be rescued.,116,Action|Adventure|Science Fiction,Paramount Pictures|Donners' Company|Mutual Film Company|Cobalt Media Group|Artists Production Group (APG),11/26/2003,5.1,2003,-60519261
1722,tt0435705,70000000,18211013,Next,Nicolas Cage|Julianne Moore|Jessica Biel|Thomas Kretschmann|Tory Kittles,Lee Tamahori,"If you can see the future, you can save it.","Las Vegas showroom magician Cris Johnson has a secret which torments him: he can see a few minutes into the future. Sick of the examinations he underwent as a child and the interest of the government and medical establishment in his power, he lies low under an assumed name in Vegas, performing cheap tricks and living off small-time gambling ""winnings."" But when a terrorist group threatens to detonate a nuclear device in Los Angeles, government agent Callie Ferris must use all her wiles to capture Cris and convince him to help her stop the cataclysm.",96,Action|Science Fiction|Thriller,Paramount Pictures|Virtual Studios|Revolution Studios|Saturn Films|Broken Road Productions,4/24/2007,5.9,2007,-51788987
1623,tt0375173,60000000,13395939,Alfie,Jude Law|Marisa Tomei|Omar Epps|Jane Krakowski|RenÃ©e Taylor,Charles Shyer,Meet a man who never met a woman he didn't love.,"In Manhattan, the British limousine driver Alfie is surrounded by beautiful women, having one night stands with all of them and without any sort of commitment. His best friends are his colleague Marlon and his girl-friend Lonette. Alfie has a brief affair with Lonette, and the consequences of his act forces Alfie to reflect over his lifestyle.",103,Comedy,Paramount Pictures|Patalex Productions,10/22/2004,5.4,2004,-46604061
1631,tt0315297,50000000,25195000,Twisted,Ashley Judd|Samuel L. Jackson|Andy GarcÃ­a|David Strathairn|Russell Wong,Philip Kaufman,Every murder has a mark.,"Recently promoted and transferred to the homicide division, Inspector Jessica Shepard feels pressure to prove herself -- and what better way than by solving San Francisco's latest murder? However, as Shepard and her partner, Mike Delmarco, soon discover, the victim shared a romantic connection to her. As more of Shepard's ex-lovers turn up dead, her mind starts to become unstable, and she begins to wonder if she could be the very killer she's trying to track down.",97,Action|Adventure|Crime|Drama|Thriller,Paramount Pictures|Kopelson Entertainment|Harlequin Pictures|Intertainment AG|Blackout Productions Inc.,2/27/2004,5.7,2004,-24805000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
730,tt1229238,145000000,694713380,Mission: Impossible - Ghost Protocol,Tom Cruise|Jeremy Renner|Simon Pegg|Paula Patton|Anil Kapoor,Brad Bird,No Plan. No Backup. No Choice.,"In the 4th installment of the Mission Impossible series, Ethan Hunt (Cruise) and his team are racing against time to track down a dangerous terrorist named Hendricks (Nyqvist), who has gained access to Russian nuclear launch codes and is planning a strike on the United States. An attempt to stop him ends in an explosion causing severe destruction to the Kremlin and the IMF to be implicated in the bombing, forcing the President to disavow them. No longer being aided by the government, Ethan and his team chase Hendricks around the globe, although they might still be too late to stop a disaster.",133,Action|Thriller|Adventure,Paramount Pictures|Skydance Productions|Bad Robot|TC Productions|Revolution Sun Studios,12/7/2011,6.7,2011,549713380
1738,tt0418279,150000000,709709780,Transformers,Shia LaBeouf|Josh Duhamel|Megan Fox|Rachael Taylor|Tyrese Gibson,Michael Bay,Their war. Our world.,"Young teenager, Sam Witwicky becomes involved in the ancient struggle between two extraterrestrial factions of transforming robots â€“ the heroic Autobots and the evil Decepticons. Sam holds the clue to unimaginable power and the Decepticons will stop at nothing to retrieve it.",144,Adventure|Science Fiction|Action,Paramount Pictures|DreamWorks SKG|Amblin Entertainment|Di Bonaventura Pictures|Platinum Dunes,6/27/2007,6.6,2007,559709780
603,tt0367882,185000000,786636033,Indiana Jones and the Kingdom of the Crystal Skull,Harrison Ford|Cate Blanchett|Shia LaBeouf|Ray Winstone|Karen Allen,Steven Spielberg,The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led by sword-wielding Irina Spalko â€“ are in search of a crystal skull which has supernatural powers related to a mystical Lost City of Gold. After being captured and then escaping from them, Indy is coerced to head to Peru at the behest of a young man whose friend â€“ and Indy's colleague â€“ Professor Oxley has been captured for his knowledge of the skull's whereabouts.",122,Adventure|Action,Lucasfilm|Paramount Pictures,5/21/2008,5.6,2008,601636033
317,tt1055369,150000000,836297228,Transformers: Revenge of the Fallen,Shia LaBeouf|Megan Fox|Josh Duhamel|Rainn Wilson|Tyrese Gibson,Michael Bay,Revenge is coming,"Sam Witwicky leaves the Autobots behind for a normal life. But when his mind is filled with cryptic symbols, the Decepticons target him and he is dragged back into the Transformers' war.",150,Science Fiction|Action|Adventure,Paramount Pictures|DreamWorks SKG|Amblin Entertainment|Di Bonaventura Pictures|Platinum Dunes,6/19/2009,6.0,2009,686297228
828,tt1399103,195000000,1123746996,Transformers: Dark of the Moon,Shia LaBeouf|John Malkovich|Ken Jeong|Frances McDormand|Josh Duhamel,Michael Bay,The invasion we always feared. An enemy we never expected.,"Sam Witwicky takes his first tenuous steps into adulthood while remaining a reluctant human ally of Autobot-leader Optimus Prime. The film centers around the space race between the USSR and the USA, suggesting there was a hidden Transformers role in it all that remains one of the planet's most dangerous secrets.",154,Action|Science Fiction|Adventure,Paramount Pictures|Di Bonaventura Pictures|Hasbro|Indochina Productions,6/28/2011,6.1,2011,928746996

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [315]:
data[data.production_companies.str.contains('Warner Bros')].pivot_table(index = 'release_year',
                values = 'revenue',
                aggfunc = 'sum').sort_values('revenue', ascending = False)

                 revenue
release_year
2014          3243064519
2007          3183675217
2008          3050595031
2010          3008712985
2011          2845393682
2003          2745493377
2009          2737954136
2004          2731933725
2013          2599953400
2005          2412980298
2001          2266545668
2012          1869520056
2002          1702709901
2015          1691168351
2006          1521170743
2000          1025531386

# 20. Какой самый прибыльный год для студии Warner Bros?

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [25]:
data

pd.set_option('display.max_colwidth', 50)
data['month'] = data.release_date.str.split('/').str.get(0)

ans = data.month.value_counts()

ans = ans.reset_index()
ans.columns = ['month', 'value']
ans

   month  value
0      9    227
1     12    190
2     10    186
3      8    161
4      3    156
5      4    149
6      6    147
7     11    146
8      7    142
9      5    140
10     2    135
11     1    110

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [83]:
data

'ad , df'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [36]:
data.info()
data = data.astype({'month': np.int64})
data.query('month in [1, 2, 12]').director.value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
 14  month                 1889 non-null   int64
dtypes: float64(1), int64(5), object(9)
memory usage: 221.5+ KB

Peter Jackson           7
Clint Eastwood          6
Steven Soderbergh       6
Martin Scorsese         4
Adam Shankman           4
                       ..
Malcolm D. Lee          1
Nicolas Winding Refn    1
Brad Bird               1
David Fincher           1
Diane Keaton            1
Name: director, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [61]:
data2 = data[['original_title', 'production_companies']]
data2 = pd.DataFrame(data2)
pd.set_option('display.max_colwidth', 200)
data2['lenght'] = data2.original_title.apply(lambda x: len(x))
data2.sort_values('lenght', ascending = False)

,original_title,production_companies,lenght
1448,Borat: Cultural Learnings of America for Make Benefit Glorious Nation of Kazakhstan,Twentieth Century Fox Film Corporation|Four By Two Productions,83
1314,"The Chronicles of Narnia: The Lion, the Witch and the Wardrobe",Walt Disney|Walden Media,62
219,"Alexander and the Terrible, Horrible, No Good, Very Bad Day","Walt Disney Pictures|21 Laps Entertainment|Jim Henson Company, The",59
1751,The Assassination of Jesse James by the Coward Robert Ford,Plan B Entertainment|Virtual Studios|Scott Free Productions|Alberta Film Entertainment|Warner Bros.,58
385,The Chronicles of Narnia: The Voyage of the Dawn Treader,Dune Entertainment|Fox 2000 Pictures|Walden Media,56
...,...,...,...
1483,RV,Columbia Pictures,2
714,W.,Ixtlan Productions|Emperor Motion Pictures|Global Entertainment Group,2
1172,X2,Twentieth Century Fox Film Corporation|Donners' Company|Bad Hat Harry Productions|Marvel Enterprises|XM2 Productions,2
1282,42,Warner Bros.,2
252,9,Focus Films|Starz Animation|Relativity Media|Tim Burton Productions|Arc Productions,1

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [96]:
data2 = data[['overview', 'production_companies']]
data2 = pd.DataFrame(data2)
pd.set_option('display.max_colwidth', 200)
data2['len'] = data2.overview.str.split(' ').apply(lambda x:len(x))
data2.sort_values('len')

,overview,production_companies,len
1781,Singer Dewey Cox overcomes adversity to become a musical legend.,Columbia Pictures Corporation|Apatow Productions,10
24,The men who made millions from a global economic meltdown.,Paramount Pictures|Plan B Entertainment|Regency Enterprises,10
579,Two bank robbers fall in love with the girl they've kidnapped.,Cheyenne Enterprises|Epsilon Motion Pictures|Empire Pictures|Metro-Goldwyn-Mayer (MGM)|Hyde Park Entertainment,11
956,"Two straight men mistakenly end up on a ""gays only"" cruise.",Motion Picture Corporation of America|Artisan Entertainment,11
1176,Story of the relationship between the poets Ted Hughes and Sylvia Plath.,Focus Films,12
...,...,...,...
1086,"Six months after the events depicted in The Matrix, Neo has proved to be a good omen for the free humans, as more and more humans are being freed from the matrix and brought to Zion, the one and o...",Village Roadshow Pictures|NPV Entertainment|Heineken Branded Entertainment|Silver Pictures|Warner Bros.,161
1373,The chief spokesperson and lobbyist Nick Naylor is the Vice-President of the Academy of Tobacco Studies. He is talented in speaking and spins argument to defend the cigarette industry in the most ...,Fox Searchlight Pictures|Room 9 Entertainment,161
964,"Bucum Jackson (Cube) is a bounty hunter with a lot of attitude and no interest in taking on a partner. Working at Martinez Bail Bonds, Jackson has unorthodox methods of tracking down low-life crim...",New Line Cinema,166
170,"Fourteen hundred years ago, a tormented soul walked the earth that was neither man nor god. Hercules was the powerful son of the god king Zeus, for this he received nothing but suffering his entir...",Paramount Pictures|Metro-Goldwyn-Mayer (MGM)|Radical Studios|Flynn Picture Company,169
711,"The photographer Leon lives with his girlfriend and waitress Maya waiting for a chance to get in the photo business. When Maya contacts their friend Jurgis, he schedules a meeting for Leon with th...",Lions Gate Films|Lakeshore Entertainment|GreeneStreet Films|Midnight Picture Show,175

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [120]:
pd.set_option('display.max_colwidth', 30)
data2 = data.vote_average.value_counts(normalize = True).reset_index()
data2.columns = ['vote', 'vote_average']
data2['vote_average'] = data2['vote_average'].apply(lambda x: x*100)
data2.sort_values('vote')
data.query('vote_average >= 7.9')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|...,Pete Docter,Meet the little voices ins...,Growing up can be a bumpy ...,94,Comedy|Animation|Family,Walt Disney Pictures|Pixar...,6/9/2015,8.0,2015
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 y...,117,Drama|Thriller,Element Pictures|No Trace ...,10/16/2015,8.0,2015
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessic...,Christopher Nolan,Mankind was born on Earth....,Interstellar chronicles th...,169,Adventure|Drama|Science Fi...,Paramount Pictures|Legenda...,11/5/2014,8.0,2014
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Da...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26...",121,Action|Science Fiction|Adv...,Marvel Studios|Moving Pict...,7/30/2014,7.9,2014
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira...,Morten Tyldum,The true enigma was the ma...,Based on the real life sto...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristo...,11/14/2014,8.0,2014
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|...,David Fincher,You don't know what you've...,With his wife's disappeara...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film...,10/1/2014,7.9,2014
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolor...,Wes Anderson,A perfect holiday without ...,The Grand Budapest Hotel t...,99,Comedy|Drama,Fox Searchlight Pictures|S...,2/26/2014,7.9,2014
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph G...,Christopher Nolan,Your mind is the scene of ...,"Cobb, a skilled thief who ...",148,Action|Thriller|Science Fi...,Legendary Pictures|Warner ...,7/14/2010,7.9,2010
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Cai...,Christopher Nolan,Why So Serious?,Batman raises the stakes i...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictur...,7/16/2008,8.1,2008
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretsc...,Roman Polanski,Music was his passion. Sur...,The Pianist is a film adap...,150,Drama|War,Bac Films|Canal+Polska|Her...,9/24/2002,7.9,2002
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The...,Elijah Wood|Ian McKellen|V...,Peter Jackson,The eye of the enemy is mo...,Aragorn is revealed as the...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hi...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker ref...,180,Crime|Drama|Comedy,Paramount Pictures|Appian ...,12/25/2013,7.9,2013
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael F...,Steve McQueen,The extraordinary true sto...,In the pre-Civil War Unite...,134,Drama|History,Plan B Entertainment|Regen...,10/18/2013,7.9,2013
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Mos...,Christopher Nolan,Some memories are best for...,Suffering short-term memor...,113,Mystery|Thriller,Summit Entertainment|Newma...,10/11/2000,7.9,2000

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [131]:
pd.set_option('display.max_colwidth', None)
data.cast.value_counts()

Jennifer Lawrence|Josh Hutcherson|Liam Hemsworth|Woody Harrelson|Elizabeth Banks    3
Elijah Wood|Ian McKellen|Viggo Mortensen|Liv Tyler|Orlando Bloom                    3
Ioan Gruffudd|Jessica Alba|Chris Evans|Michael Chiklis|Julian McMahon               2
Ewan McGregor|Natalie Portman|Hayden Christensen|Ian McDiarmid|Samuel L. Jackson    2
Mike Myers|Eddie Murphy|Cameron Diaz|Julie Andrews|Antonio Banderas                 2
                                                                                   ..
Ashton Kutcher|Cameron Diaz|Lake Bell|Queen Latifah|Treat Williams                  1
Jeremy Renner|Anthony Mackie|Brian Geraghty|Guy Pearce|Ralph Fiennes                1
Will Smith|Charlize Theron|Jason Bateman|Jae Head|Eddie Marsan                      1
Steven Strait|Camilla Belle|Cliff Curtis|Nathanael Baring|Mo Zinal                  1
Susan Ward|Lori Heuring|Matthew Settle|Nathan Bexton|Tess Harper                    1
Name: cast, Length: 1878, dtype: int64

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)